<div class="jumbotron container">
    <div id="card">
        <div id="dp"></div>
        <div id="textbox">
            <div id="details">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="irfanhafizhi1995@gmail.com" readonly>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="hafizhi" readonly>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="*******" readonly>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="editProfile()">
                    Edit Profile
                </button>
            </div>
        </div>
    </div>
</div>