/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootswatch/dist/cerulean/bootstrap.min.css";
@import '@fortawesome/fontawesome-free/css/all.css';

html {
  background: #000 url("./assets/spotlight.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.multicolortext {
  background-image: linear-gradient(to left, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.jumbotron.container {
  height: 684.4px;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .jumbotron.container {
    height: 1113px;
  }
}